<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noogoonaa.oneday_oneggang">
    <!-- Flutter needs it to communicate with the running application to allow setting breakpoints, to provide hot reload, etc. -->
    <!-- local notification 1 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- local notification (optional) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <!-- local notification 2 -->  
        <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>
        </intent-filter>
        </receiver>
        <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
    </application>
</manifest>
